#addDeliciousTreat {
    background: lightskyblue;
}

body {
    background-image: url("../images/sprinkles.png");
    padding-top: 30px; 
}

button {
    background: lightskyblue;
}

#form {
    float: right;
    padding: 30px;
    width: 300px;
}

.newTreatDiv {
    display: inline-block;
    padding: 15px;
}